Hi there, this is **Simon** with a **new article** I have written. 

This email is automated based on my [RSS feed](https://www.ssp.sh/index.xml) and sent out whenever I publish a new article. For quite a while, I haven't updated you on new posts since I switched from Mailchimp to Listmonk, but now I activated this feature again. I hope you enjoy this; otherwise, please let me know. I will still send my irregular updates (every 2-4 months) in addition.

But I figured that in times when social media is a little depressing, I want to give you a chance to stay updated just by email—no need to log in anywhere. 
BR Simon

Below, you find the latest article. Please enjoy, and let me know if you have any feedback.

---

{% for item in items %}
## [{{ item.title }}]({{ item.link }})

{{ item.summary|safe }}

![Image]({{ item.media_content }})

{% endfor %}
